DISCORD_BOT_TOKEN=
BOT_PREFIX=!
BOT_STATUS_TEXT=BUILD BY STALEFORGE~2023
BOT_STATUS_URL=https://staleforge.dev

LOG_CHANNEL_ID=0
WELCOME_CHANNEL_ID=0
BOOST_CHANNEL_ID=0
ANNOUNCEMENT_CHANNEL_ID=0
PROMOTION_CHANNEL_ID=0
POLL_CHANNEL_ID=0
GIVEAWAY_CHANNEL_ID=0
RULES_CHANNEL_ID=0
TICKET_ALERT_CHANNEL_ID=0
AUTO_DELETE_CHANNEL_ID=0

STATS_MEMBERS_VC_ID=0
STATS_BANS_VC_ID=0
STATS_LATEST_VC_ID=0

VERIFIED_ROLE_ID=0
MEMBER_ROLE_ID=0

TICKET_STAFF_ROLE_IDS=0
REROLL_ROLE_IDS=0
TICKET_LOG_CATEGORY_NAME=TICKET LOGS

PRICING_CHANNEL_ID=0
